.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: #97bcf8;
  border: none;
  padding: 10px 20px;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #97bcf8;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid #97bcf8;
  padding: 20px;
  font-size: 19px;
  text-align: center;
}